<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta name="theme-color" content="#c90812"> <!--Chrome mobile color address bar-->
    <meta http-equiv='pragma' content='no-cache'> <!--PAY ATTENTION: we don't save a cache!!!-->
    <title>ShonSub</title>
    <!-- CCS -->
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/projects.css" rel="stylesheet" type="text/css">
    <% if(data.user.admin) { %> 
        <link href="/css/admin.css" rel="stylesheet" type="text/css">
    <% } %>
    <% if(data.user.owner) { %> 
        <link href="/css/owner.css" rel="stylesheet" type="text/css">
    <% } %>
    <% if(data.page.name === "404") { %> 
        <link href="/css/404.css" rel="stylesheet" type="text/css">
    <% } %>
    <% if(data.page.name === "home") { %> 
        <link href="/css/home.css" rel="stylesheet" type="text/css">
    <% } %>
    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/66d330ff96.js" crossorigin="anonymous"></script>
</head>

<% if(typeof project === "object") { %>
    <body style="background-image: url('<%= project.coverImagePath.replace(/\\/g, "/") %>') !important;
                                            background-position: top;
                                            background-size: 800px !important;">
<% } else { %>
      
    <body style="background-image: url('https://m.media-amazon.com/images/M/MV5BN2UwOTMwMjMtZTE5MS00YmY4LTg4YjAtZDE3ZTg3YTU5MmQ2XkEyXkFqcGdeQXVyODEyMDIxNDY@._V1_.jpg') !important;">
<% } %>


<div class="blur closeForm invisible"></div>
<div class="nav-blur"></div>
<%- include('../partials/__login_form.ejs') %> 
    <%- include('../partials/__register_form.ejs') %>
    <% if(data.user.admin) { %> 
        <%- include('../projects/__new_project_form.ejs') %>
        <%- include('../projects/__edit_project_form.ejs') %>
    <% } %>

    <div class="mobile-nav">
        <%- include('../partials/__mobile_nav_menu.ejs') %>
    </div>
    
    
    <%- include('../partials/header.ejs') %>

    <div class="page">
        <main>
            <div class="content">
                <%- body %>
            </div>
        </main>
        <%- include('../partials/footer.ejs') %>
    </div>

    <% if(data.user.admin) { %> 
        <script src="/js/admin.js"></script>
    <% } %>
    <% if(data.user.owner) { %> 
        <script src="/js/owner.js"></script>
    <% } %>
    <script src="/js/script.js"></script>
</body>
</html>