<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="canonical" href="http://www.example.com/" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta name="theme-color" content="#c90812"> <!--Chrome mobile color address bar-->
    <meta http-equiv='pragma' content='no-cache'> <!--PAY ATTENTION: we don't save a cache!!!-->
    <% if(typeof project === "object") { %>
        <% if(typeof episode === "object") { %>
            <title>שון סאב | Shon Sub - <%= project.name %> פרק <%= episode.episodeNumber %></title>
        <% } else { %>
            <title>שון סאב | Shon Sub - <%= project.name %></title>
        <% } %>
    <% } else { %>
        <title>שון סאב | Shon Sub</title>
    <% } %>
    <!-- CCS -->
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <% if(data.page.name === "home") { %> 
        <link href="/css/home.css" rel="stylesheet" type="text/css">
    <% } %>
    <link href="/css/projects.css" rel="stylesheet" type="text/css">
    <% if(data.user.admin) { %> 
        <link href="/css/admin.css" rel="stylesheet" type="text/css">
    <% } %>
    <% if(data.user.owner) { %> 
        <link href="/css/owner.css" rel="stylesheet" type="text/css">
    <% } %>
    <% if(data.page.name === "404") { %> 
        <link href="/css/404.css" rel="stylesheet" type="text/css">
    <% } %>
    <link rel="icon" href="/images/favicon.png" />
    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/66d330ff96.js" crossorigin="anonymous"></script>
</head>

<% if(typeof project === "object") { %>
    <body style="background-image: url('<%= project.coverImagePath.replace(/\\/g, "/") %>') !important;
                                            background-position: top;
                                            background-size: 800px !important;">
<% } else { %>
      
    <body style="background-image: url('https://m.media-amazon.com/images/M/MV5BN2UwOTMwMjMtZTE5MS00YmY4LTg4YjAtZDE3ZTg3YTU5MmQ2XkEyXkFqcGdeQXVyODEyMDIxNDY@._V1_.jpg') !important;">
<% } %>

<a class="typeform-share button contact-btn" href="https://form.typeform.com/to/hpOh45ig" data-mode="drawer_left" style="display:inline-block;text-decoration:none;background-color:#C90812;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:21px;line-height:52.5px;text-align:center;margin:0;height:52.5px;padding:0px 35px;border-radius:26px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank"><i class="fas fa-comment-alt"></i></a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
<div class="alerts-container">
    
</div>
<div class="blur closeForm invisible"></div>
<div class="nav-blur"></div>
    <%- include('../partials/__login_form.ejs') %> 
    <%- include('../partials/__register_form.ejs') %>
    <% if(data.user.admin) { %> 
        <%- include('../projects/__new_project_form.ejs') %>
        <%- include('../projects/__edit_project_form.ejs') %>
    <% } %>

    <div class="mobile-nav">
        <%- include('../partials/__mobile_nav_menu.ejs') %>
    </div>
    
    
    <%- include('../partials/header.ejs') %>

    <div class="page">
        <main>
            <div class="content">
                <%- body %>
            </div>
        </main>
        <%- include('../partials/footer.ejs') %>
    </div>

    <% if(data.user.admin) { %> 
        <script src="/js/admin.js"></script>
    <% } %>
    <% if(data.user.owner) { %> 
        <script src="/js/owner.js"></script>
    <% } %>
    <script src="/js/script.js"></script>
</body>
</html>