<% if(data.user.admin) { %>
    <%- include('./__new_episode_form.ejs') %>
    <%- include('./__edit_episode_form.ejs') %>
<% } %>

 

<div class="episode-page">

    <div class="watch">
        <iframe src="<%= episode.link.split("view")[0] %>preview" frameborder="0" allowfullscreen=""></iframe>
    </div>


    <div class="episode-details" dir="rtl">
        <div class="project-title">
            <h1 dir="rtl"><%= project.name.replace(/-/g," ") %></h1>
        </div>
        <h2>פרק <%= episode.episodeNumber %> - <%= episode.episodeName %> </h2>
        <div class="container">
            <p><i class="fas fa-eye"></i> צפיות: <%= episode.views %></p>
            &nbsp; &nbsp;
            <p><i class="fas fa-clock"></i> פורסם בתאריך: <%= episode.createdAt.toLocaleDateString().split("-").reverse().join("/") %></i></p>
            &nbsp; &nbsp;
            <% if (episode.post) { %> 
                <br>
                <br>
                <p><i class="fas fa-user-edit"></i> פוסט: </i></p>
                <br>
                <p class="episode-post" dir="rtl"><%= episode.post %></i></p>
            <% } %> 
        </div>
    </div>

    <% let max = 4 %> 
    <% let counter = 0 %> 

    <div class="flex-container episodes-container">
        <% if (recommendedEpisodes.length == 0) { %>
            <h2 class="no-episodes">אין פרקים נוספים</h2>
        <% } %>
             

        <% recommendedEpisodes.forEach(episode => { %>
            <% if(counter < max) { %> 

            <div class="episode-item">
        
                <div class="cover-img-container episode-img-size clicked">
                    <a href=/projects/<%= project.name.replace(/ /g,"-").replace(/?/g,"%3F") %>/<%= episode.episodeNumber %>>
                        <img class="image-contains episode-img-size" src="<%= episode.coverImagePath %>" alt="<%= episode.episodeName %>">
                        <div class="img-text-top text-on-point">
                            <h3>פרק <%= episode.episodeNumber %></h3>
                        </div>
                        <div class="play-icon"><i class="fas fa-play"></i></div>
                    </a>
            

                    <% if(data.user.admin) { %> 
                    <div class="img-text-bottom text-on-point edit-text edit-episode">
                        <h3><i class="fas fa-pen"></i> ערוך</h3>
                    </div>
                    <% } %> 

                </div>
        
        
                <form class="episode-fields" hidden>
                    <input name="episodeNumber" value="<%= episode.episodeNumber %>">
                    <input name="episodeName" value="<%= episode.episodeName %>">
                    <input name="link" value="<%= episode.link %>">
                    <input name="post" value="<%= episode.post %>">
                    <input name="image" value="<%= episode.coverImageName %>">
                </form>
            </div>

            <% counter++ %> 
            <% } %>

        <% }); %>
        
    </div>


    <%- include('./__new_comment_form.ejs') %>
    <%- include('./__edit_comment_form.ejs') %>
    
    <div class="comments-container">
        <div class="comments-header">
            <h2>תגובות (<%= episode.comments.length %>)</h2>
            <% if(data.user.verified) { %> 
                <div class="secondary-button new-comment-btn">הוסף תגובה +</div>
            <% } else { %>
                <a href="javascript:void(0)" class="secondary-button" onclick="login();showAlert('info', 'עליך להתחבר לאתר להוספת תגובות');">הוסף תגובה +</a>
            <% } %>
        </div>
        <% episode.comments.forEach(comment => { %>
            <div class="comment">
                <form class="comment-fields" hidden>
                    <input name="id" value="<%= comment._id %>">
                    <input name="message" value="<%= comment.message %>">
                </form>

                <div class="comment-header">
                    <% if(data.user.verified && comment.user._id.toString() === data.user._id.toString()) { %>
                    <div class="comment-options">
                        <div class="warning-button delete-comment">מחק <i class="fas fa-trash"></i></div>
                        <div class="light-button edit-comment">ערוך <i class="fas fa-edit"></i></div>
                    </div>
                    <% } else if(data.user.admin) { %>
                        <div class="comment-options">
                            <div class="warning-button delete-comment">מחק <i class="fas fa-trash"></i></div>
                        </div>
                    <% } %>
                    <div class="profile-img">
                        <img src="<%= comment.user.profileImgPath %> " alt="<%= comment.user.name %>" onerror="if (this.src != '/images/no-profile.png') this.src = '/images/no-profile.png';">
                    </div>
                    <% if(comment.user.role.includes('admin')) { %>
                        <div class="username admin">
                            <%= comment.user.name %> 
                        </div>
                    <% } else { %> 
                        <div class="username">
                            <%= comment.user.name %> 
                        </div>
                    <% } %>
                </div>
<div class="message"><%= comment.message %></div>
            </div>
        <% }) %> 
    </div>

</div>