<%- include('../projects/__new_episode_form.ejs') %>
<%- include('../projects/__edit_episode_form.ejs') %>

<div class="episode-page">

    <div class="watch">
        <iframe sandbox="allow-forms allow-pointer-lock allow-same-origin allow-scripts allow-top-navigation" src="<%= episode.link.split("view")[0] %>preview" frameborder="0" allowfullscreen=""></iframe>
    </div>


    <div class="episode-details" dir="rtl">
        <div class="project-title">
            <h1><%= project.name.replace(/-/g," ") %></h1>
        </div>
        &nbsp; &nbsp;
        <h2>פרק <%= episode.episodeNumber %> - <%= episode.episodeName %> </h2>
        <br>
        <br>
        <div>
            <p><i class="fas fa-eye"></i> צפיות: <%= episode.views %></p>
            &nbsp; &nbsp;
            <p><i class="fas fa-clock"></i> פורסם בתאריך: <%= episode.createdAt.toLocaleDateString().replace(/-/g, "/") %></i></p>
        </div>
    </div>

    <% let max = 4 %> 
    <% let counter = 0 %> 

    <div class="flex-container episodes-container">
        <% project.episodes.forEach(episode => { %>
            <% if(counter < max) { %> 

            <div class="episode-item">
        
                <div class="cover-img-container episode-img-size clicked">
                    <a href=/projects/<%= project.name.replace(/ /g,"-") %>/<%= episode.episodeNumber %>>
                        <img class="image-contains episode-img-size" src="<%= episode.coverImagePath %>" alt="<%= episode.episodeName %>">
                        <div class="img-text-top text-on-point">
                            <h3><%= episode.episodeNumber %> פרק</h3>
                        </div>
                    </a>
            

                    <% if(data.user.admin) { %> 
                    <div class="img-text-bottom text-on-point edit-text edit-episode">
                        <h3><i class="fas fa-pen"></i> ערוך</h3>
                    </div>
                    <% } %> 

                </div>
        
        
                <form class="episode-fields" hidden>
                    <input name="episodeNumber" value="<%= episode.episodeNumber %>">
                    <input name="episodeName" value="<%= episode.episodeName %>">
                    <input name="link" value="<%= episode.link %>">
                </form>
            </div>

            <% counter++ %> 
            <% } %>

        <% }); %>
            
    </div>

</div>