<div class="active-projects">
    <h1 class="projects-title">פרוייקטים פעילים</h1>


    <div class="flexed-container projects-container">
    <% if (data.allProjects.activeProjects.length === 0) { %>
        <h2>אין פרוייקטים כרגע</h2>
    <% } %>
    
    
        
        <% data.allProjects.activeProjects.forEach(project => { %> 
            <% if (project.process === 'active') { %>

                <div class="project-item">

                    <div class="cover-img-container project-img-size clicked">
                        <a href=/projects/<%= project.name.replace(/ /g,"-") %>>
                            <img class="image-contains project-img-size" src="<%= project.coverImagePath %>" alt="<%= project.name.replace(/-/g," ") %>">
                            <div class="img-text-top">
                                <h3><%= project.name.replace(/-/g," ") %></h3>
                            </div>
                        </a>

                        <div class="img-text-bottom text-on-point edit-text">
                            <h3><i class="fas fa-pen"></i> ערוך</h3>
                        </div>
                    </div>

                    <form class="project-fields" hidden>
                        <input name="name" value="<%= project.name.replace(/-/g," ") %>">
                        <input name="englishName" value="<%= project.englishName %>">
                        <input name="japaneseName" value="<%= project.japaneseName %>">
                        <input name="genre" value="<%= project.genre %>">
                        <input name="process" value="<%= project.process %>">
                        <input name="episodesNumber" value="<%= project.episodesNumber %>">
                        <input name="summary" value="<%= project.summary %>">
                        <input name="coverImageName" value="<%= project.coverImageName %>">
                    </form>

                    <!--
                    <div class="project-item">

                        <% if (data.user.role.includes('admin')) { %>
                            <button class="settings-button" type="button" onclick="fetch('/projects/<%= project.name %>', {
                                method: 'delete',
                                headers: {'Content-Type': 'application/json'},
                                body: JSON.stringify({id: '<%= project._id %>'})
                            })"> <i class="fas fa-cog"></i></button>
                        <% } %>


                        <a href=/projects/<%= project.name %>>
                            <img class="project-img" src="<%= project.coverImagePath %>" height="300px" alt="<%= project.name.replace(/-/g," ") %>">
                        </a>
                        <div class="project-name">
                            <a href=/projects/<%= project.name %>>
                                <h2><%= project.name.replace(/-/g," ") %></h2>
                            </a>
                        </div>

                    </div>
                    -->

                </div>
            <% } %>
        <%  }); %> 
    </div>
</div>
<div class="done-projects">
    <h1 class="projects-title">פרוייקטים שהושלמו</h1>

    <div class="flexed-container projects-container">
        <% if (data.allProjects.doneProjects.length === 0) { %>
            <h2>אין פרוייקטים כרגע</h2>
        <% } %>
        
        
            
            <% data.allProjects.doneProjects.forEach(project => { %> 
                <% if (project.process === 'done') { %>
    
                    <div class="project-item">
    
                        <div class="cover-img-container project-img-size clicked">
                            <a href=/projects/<%= project.name %>>
                                <img class="image-contains project-img-size" src="<%= project.coverImagePath %>" alt="<%= project.name.replace(/-/g," ") %>">
                                <div class="img-text-top">
                                    <h3><%= project.name.replace(/-/g," ") %></h3>
                                </div>
                            </a>

                            <div class="img-text-bottom text-on-point edit-text">
                                <h3><i class="fas fa-pen"></i> ערוך</h3>
                            </div>
                        </div>

                        <form class="project-fields" hidden>
                            <input name="name" value="<%= project.name.replace(/-/g," ") %>">
                            <input name="englishName" value="<%= project.englishName %>">
                            <input name="japaneseName" value="<%= project.japaneseName %>">
                            <input name="genre" value="<%= project.genre %>">
                            <input name="process" value="<%= project.process %>">
                            <input name="episodesNumber" value="<%= project.episodesNumber %>">
                            <input name="summary" value="<%= project.summary %>">
                            <input name="coverImageName" value="<%= project.coverImageName %>">
                        </form>
    
                        <!--
                        <div class="project-item">
    
                            <% if (data.user.role.includes('admin')) { %>
                                <button class="settings-button" type="button" onclick="fetch('/projects/<%= project.name %>', {
                                    method: 'delete',
                                    headers: {'Content-Type': 'application/json'},
                                    body: JSON.stringify({id: '<%= project._id %>'})
                                })"> <i class="fas fa-cog"></i></button>
                            <% } %>
    
    
                            <a href=/projects/<%= project.name %>>
                                <img class="project-img" src="<%= project.coverImagePath %>" height="300px" alt="<%= project.name.replace(/-/g," ") %>">
                            </a>
                            <div class="project-name">
                                <a href=/projects/<%= project.name %>>
                                    <h2><%= project.name.replace(/-/g," ") %></h2>
                                </a>
                            </div>
    
                        </div>
                        -->
    
                    </div>
                <% } %>
            <%  }); %> 
    
</div>
<div class="freeze-projects">
    <h1 class="projects-title">פרוייקטים מוקפאים</h1>
    <div class="flexed-container projects-container">
        <% if (data.allProjects.freezeProjects.length === 0) { %>
            <h2>אין פרוייקטים כרגע</h2>
        <% } %>
        
        
            
            <% data.allProjects.freezeProjects.forEach(project => { %> 
                <% if (project.process === 'freeze') { %>
    
                    <div class="project-item">
    
                        
                            <div class="cover-img-container project-img-size clicked">
                                <a href=/projects/<%= project.name %>>
                                    <img class="image-contains project-img-size" src="<%= project.coverImagePath %>" alt="<%= project.name.replace(/-/g," ") %>">
                                    <div class="img-text-top">
                                        <h3><%= project.name.replace(/-/g," ") %></h3>
                                    </div>
                                </a>

                                <div class="img-text-bottom text-on-point edit-text">
                                    <h3><i class="fas fa-pen"></i> ערוך</h3>
                                </div>
                            </div>

                            <form class="project-fields" hidden>
                                <input name="name" value="<%= project.name.replace(/-/g," ") %>">
                                <input name="englishName" value="<%= project.englishName %>">
                                <input name="japaneseName" value="<%= project.japaneseName %>">
                                <input name="genre" value="<%= project.genre %>">
                                <input name="process" value="<%= project.process %>">
                                <input name="episodesNumber" value="<%= project.episodesNumber %>">
                                <input name="summary" value="<%= project.summary %>">
                                <input name="coverImageName" value="<%= project.coverImageName %>">
                            </form>
    
                        <!--
                        <div class="project-item">
    
                            <% if (data.user.role.includes('admin')) { %>
                                <button class="settings-button" type="button" onclick="fetch('/projects/<%= project.name %>', {
                                    method: 'delete',
                                    headers: {'Content-Type': 'application/json'},
                                    body: JSON.stringify({id: '<%= project._id %>'})
                                })"> <i class="fas fa-cog"></i></button>
                            <% } %>
    
    
                            <a href=/projects/<%= project.name %>>
                                <img class="project-img" src="<%= project.coverImagePath %>" height="300px" alt="<%= project.name.replace(/-/g," ") %>">
                            </a>
                            <div class="project-name">
                                <a href=/projects/<%= project.name %>>
                                    <h2><%= project.name.replace(/-/g," ") %></h2>
                                </a>
                            </div>
    
                        </div>
                        -->
    
                    </div>
                <% } %>
            <%  }); %> 
</div>
